::ng-deep {

    .container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 16px;

        &-form {
            display: flex;
            flex-direction: column;
            align-items: center;

            mat-form-field, button{
                width: 100%;
                max-width: 400px;
            }
        }
    }
}